{% extends "layout.html" %}

{% block title %}
    Change Keeper
{% endblock %}

{% block main %}
    <h1>Change Keeper Below</h1>

    <form action="/changekeeper" method="post">
        <div class="input-group mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="keeper" name="keeper" placeholder="Name of Keeper" type="text">
        </div>
        <div>
            <button class="btn btn-dark" type="submit">Submit Keeper (Again)</button>
        </div>
    </form>
{% endblock %}