{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>LXG CHAMPIONS</h1>
    <div>
        <img class="img-fluid" src="/static/images/champions_tree.png"></img>
    </div>
    <br></br>
    <div>
        <ul class="list-group">
            <li class="list-group-item">2010: JOSH MEASLES</li>
            <li class="list-group-item">2011: JOSH MEASLES</li>
            <li class="list-group-item">2012: RJ OCHOA</li>
            <li class="list-group-item">2013: ANGELO RAMIREZ</li>
            <li class="list-group-item">2014: RJ OCHOA</li>
            <li class="list-group-item">2015: BRYAN MEASLES</li>
            <li class="list-group-item">2016: MIKE FREY</li>
            <li class="list-group-item">2017: MIKE FREY</li>
            <li class="list-group-item">2018: JD VELA</li>
            <li class="list-group-item">2019: JEFF RODRIGUEZ</li>
            <li class="list-group-item">2020: JD VELA</li>
            <li class="list-group-item">2021: RJ OCHOA</li>
        </ul>
    </div>

{% endblock %}