{% extends "layout.html" %}

{% block title %}
    Mike Frey
{% endblock %}

{% block main %}
    <main class="members">
        <h1>Mike Frey IV</h1>
        <img class="img-fluid" src="/static/images/mikebig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vRId__WSqSWFmwID4Bgw0OHEd7gaXUzE7-aKGXpX0L0c33ZZa9s6FRFzNg8bQViXjfAgh_-YgbpsYM4/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}