{% extends "layout.html" %}

{% block title %}
    Jimmy Sethna
{% endblock %}

{% block main %}
    <main class="members">
        <h1>Jimmy Jal Sethna</h1>
        <img class="img-fluid" src="/static/images/jimmybig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vQ-WGEOvntqc6NnF86f-mRNTzTa80FSgQU2N9E0TZjr8G_B8uZQ2KHAzfbPn8vhaxXi3XvGVzF84gM_/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}