{% extends "layout.html" %}

{% block title %}
    Roy Ochoa
{% endblock %}

{% block main %}
    <main class="members">
        <h1>Roy Ochoa</h1>
        <img class="img-fluid" src="/static/images/roybig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vQQyQ8jx36HA98eQjlFm9_Q-ZgwtVyRLDVT3ZraTqaIJ0yV9rsFr7PwnDHG1lKUNZrk8iSuHifJuZRo/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}