{% extends "layout.html" %}

{% block title %}
    RJ Ochoa
{% endblock %}

{% block main %}
    <main class="members">
        <h1>RJ Ochoa (League Commisioner)</h1>
        <img class="img-fluid" src="/static/images/rjbig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vT7AfCO51d7f8XbYjPz5kx5AQyx13Ub_V7vJiE0u_I5lEi2wDDaxvFiwIHVrP-b9jo-eiRbq1f8TYeB/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}