{% extends "layout.html" %}

{% block title %}
    Josh Measles
{% endblock %}

{% block main %}
    <main class="members">
        <h1>Josh Measles (League Treasurer)</h1>
        <img class="img-fluid" src="/static/images/joshbig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vT2z2FA4_aIZkiBtJKHdbVfIgtTeH4WizR5vNzxIg4h4f6bYv56dF_E8MZfwLRk6Ul4Px4Tv1hImIlZ/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}