{% extends "layout.html" %}

{% block title %}
    LXG Members
{% endblock %}

{% block main %}
    <h1>THIS IS LXG MEMBERS PAGE</h1>
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><a href="/noah" style="color:black;">Noah Dickson</a></li>
            <li class="list-group-item list-group-item-dark"><a href="/mike" style="color:black;">Mike Frey</a></li>
            <li class="list-group-item list-group-item-dark"><a href="/josh" style="color:black;">Josh Measles</a></li>
            <li class="list-group-item list-group-item-dark"><a href="/rj" style="color:black;">RJ Ochoa</a></li>
            <li class="list-group-item list-group-item-dark"><a href="/roy" style="color:black;">Roy Ochoa</a></li>
            <li class="list-group-item list-group-item-dark"><a href="/angelo" style="color:black;">Angelo Ramirez</a></li>
            <li class="list-group-item list-group-item-dark"><a href="/jeremy" style="color:black;">Jeremy Rodriguez</a></li>
            <li class="list-group-item list-group-item-dark"><a href="/bobby" style="color:black;">Bobby Salehi</a></li>
            <li class="list-group-item list-group-item-dark"><a href="/jimmy" style="color:black;">Jimmy Sethna</a></li>
            <li class="list-group-item list-group-item-dark"><a href="/jd" style="color:black;">JD Vela</a></li>
            <li class="list-group-item list-group-item-dark">Jeff Rodriguez<span style="color:darkred"> (Twice Retired)</span></li>
            <li class="list-group-item list-group-item-dark">Bryan Measles<span style="color:darkred"> (Retired)</span></li>
            <li class="list-group-item list-group-item-dark">Kyle Flynt<span style="color:darkred"> (Retired)</span></li>
            <li class="list-group-item list-group-item-dark">Hallie Kloots <span style="color:darkred"> (Retired)</span></li>
            <li class="list-group-item list-group-item-dark">Mitchell Dinsmore<span style="color:darkred"> (Retired)</span></li>
            <li class="list-group-item list-group-item-dark">Sam Vivian<span style="color:darkred"> (Retired)</span></li>
            <li class="list-group-item list-group-item-dark">Jerry Don Wilson<span style="color:darkred"> (Retired)</span></li>
        </ul>

{% endblock %}