{% extends "layout.html" %}

{% block title %}
    Angelo Ramirez
{% endblock %}

{% block main %}
    <main class="members">
        <h1>Angelo Ramirez</h1>
        <img class="img-fluid" src="/static/images/angelobig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vSMajkOeH0602aeXh9DXGnAAfs_RaG4fltLTkiTeq76sc9V1O_3fU_2QAdYbZYDm2_VXiI_vixU4pUd/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}