{% extends "layout.html" %}

{% block title %}
    JD Vela
{% endblock %}

{% block main %}
    <main class="members">
        <h1>JD Vela</h1>
        <img class="img-fluid" src="/static/images/jdbig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vSyMv1lC9RjTGpYQDG9xV2_UNvPDOyST0Nq9dbSL6PFGREz8WxbsvmsqlIHYKP03ACPHxP-EenWEsIy/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}