{% extends "layout.html" %}

{% block title %}
    Jeremy Rodriguez
{% endblock %}

{% block main %}
    <main class="members">
        <h1>Jeremy Rodgriguez</h1>
        <img class="img-fluid" src="/static/images/jeremybig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vR_QecDY0jCdn2bq--GG_8RtrUINDbPeLXFsiNkhHoPNeS8gDQXefjyPPy-oZzPmLWuLKBNw8PDlV3O/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}