{% extends "layout.html" %}

{% block title %}
    Noah Dickson
{% endblock %}

{% block main %}
    <main class="members">
        <h1>Noah Dickson (League Parliamentarian)</h1>
        <img class="img-fluid" src="/static/images/noahbig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vRa1_in2y8_GEWjAqJlrqd2lVU0tdhSglrjTZKlra6fPUPTqq4kPn2X4rzyFd0eLE9a4EAp65V8e8Yk/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}