{% extends "layout.html" %}

{% block title %}
    Bobby Salehi
{% endblock %}

{% block main %}
    <main class="members">
        <h1>Bobby Salehi</h1>
        <img class="img-fluid" src="/static/images/bobbybig.png"></img>
        <div class="bio">
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vQF1Rantztl-O__0DBnWHD0H_INTc_qpiP2o8FTHEq9zBJ-ssWXewQ1jSRs8xAImFg7dz_dIuefNTh7/pub?embedded=true" style="border-style: none; width: 830px; height: 1800px;"></iframe>
        </div>
    </main>
{% endblock %}